.aboutUs{
padding: 100px 0;
position: relative;
margin-bottom: 4rem;
}

.founder{
    width: 75%;
    display: block;
    box-shadow: 0 5px 10px #A3AAC2;
}

.aboutbox{
    background-color: #2947A9;
    color: #FFFFFF;
    padding: 3.125rem 2.5rem 4.125rem 2.5rem;
    width: 40%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.button{
    background-color: #FFFFFF;
    width: 40px;
    height: 70px;
    
}