.founder{
    display: flex;
    height: 669px;
  
}

.aboutbox{
    white-space: pre;
    font-size: 100%;
    color: white;
    background-color: #2947A9;
    height: 523px;
    width: 488px;
    
}


.aboutus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    
}