.hero{
    background-image: url("/pics/hero.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}


p{
    white-space: pre;
    margin: 150px;
    font-size: 6rem
}