.Navbar{
    padding-bottom: 20px;
}

.logo{
    display: flex;
    justify-content: start;
    position: absolute;
    padding-left: 100px;
}


.nav-ul li a{
text-decoration: none;
padding: 20px;
margin: 20px;
}

.nav-ul{
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
    gap: 10px;
    padding-top: 20px;
}

 .nav-ul li{
    list-style: none;
 }