.reasons{
height: 433px;
}


.infos{
display: flex;
justify-content: center;
align-items: center;
}


.infobox{
    margin: 0 33px;
    color: #3d445c;
    width: 250px;
    padding: 20px 20px 40px 20px;
    border: solid 1px #a3aac2;
    border-radius: 4px;
}


.infobox img{
    height: 40px;
    margin-bottom: 18px;
}


.infobox p{
    width: 254px;
    margin-top: 18px;
    color: #a3aac2;
}


.reasons h2{
    padding: 60px 0 48px 0;
    text-align: center;
    font-size: 36px;
    color: #292e3d;
}


.infobox h3{
    font-size: 20px;
}